<div class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
  <div class="col-xs-12">
    <alert data-ng-repeat="alert in alerts | filter:{ type: 'success' }" type="{{alert.type}}" close="closeAlert($index)">
		{{alert.msg}}
	</alert>
  </div>
</div>

<div class="row">
	<div class="col-lg-6">
		<rd-widget>
			<rd-widget-header icon="fa-line-chart" title="A bar chart">
			</rd-widget-header>
			<rd-widget-body>
				<nvd3 options='optionsBar' data='dataBar'></nvd3>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-6">
		<rd-widget>
			<rd-widget-header icon="fa-pie-chart" title="Pie chart">
			</rd-widget-header>
			<rd-widget-body>
				<nvd3 options="optionsPie" data="dataPie"></nvd3>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-6">
		<rd-widget>
			<rd-widget-header icon="fa-area-chart" title="Stacked Area">
			</rd-widget-header>
			<rd-widget-body>
				<nvd3 options="optionsStackedArea" data="dataStackedArea"></nvd3>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-6">
		<rd-widget>
			<rd-widget-header icon="fa-pie-chart" title="Pie chart">
			</rd-widget-header>
			<rd-widget-body>
				<nvd3 options="optionsSunburst" data="dataSunburst"></nvd3>
			</rd-widget-body>
		</rd-widget>
	</div>
</div>